<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wypozyczalnia</title>
</head>
<body>
	<table border = 1px solid black> 
		<tr>
		    <th>Firstname</th>
		    <th>Lastname</th>
		    <th>DrivingLicense</th> 
			<th>RentallOffice</th> 
		    <th>Begin</th>
		    <th>End</th>
		    <th>Brand</th>
		    <th>Model</th>
		    <th>RegistrationNr</th>
		    <th>Capacity</th>
		    <th>Mileage</th>
		    <th>Accessories</th>
		    <th>Color</th>
		    
		</tr>
	 	{% for order in data.orders %}
	 	<tr>
	    	<td>{{ order.id }}</td>
	    	<td>{{ order.firstname }}</td>
	    	<td>{{ order.lastname }}</td>
	    	<td>{{ order.DrivingLicense }}</td>
	    	<td>{{ order.RentalOffice }}</td>
	    	<td>{{ order.Begin }}</td>
	    	<td>{{ order.End }}</td>
	    	<td>{{ order.Brand }}</td>
	    	<td>{{ order.Model }}</td>
	    	<td>{{ order.RegistrationNr }}</td>
	    	<td>{{ order.Capacity }}</td>
	    	<td>{{ order.Mileage }}</td>
	    	<td>{{ order.Accessories }}</td>
	    	<td>{{ order.Color }}</td>
	  	</tr>
	  	{% endfor %}
	</table>
	
	<a href="{{ url('orders_new') }}">add_new</a> 
	
{% block javascripts %}
    {% javascripts 'bundles/framework/scripts/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
