<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wypozyczalnia</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<div id="error"></div>
	<form id="form-new-order">
  		<div style="clear:both">
  			<label>First name:</label>
  			<input type="text" id="firstname">
  		</div>
  		<div style="clear:both">
  			<label>Last name:</label>
  			<input type="text" id="lastname">
  		</div>
 		<div style="clear:both">
  			<label>DrivingLicense:</label>
  			<input type="text" id="driving_license">
  		</div>
  		<div style="clear:both">
  			<label>RentalOffice:</label>
  			<input type="text" id="rental_office">
  		</div>
     	
     	<div style="clear:both">
			<label>Begin:</label>
			<input type="text" id="begin">
     	</div>

   		<div style="clear:both">
  			<label>End:</label>
  			<input type="text" id="end">
  		</div>
   		<div style="clear:both">
  			<label>Brand:</label>
  			<input type="text" id="brand">
  		</div>
   		<div style="clear:both">
  			<label>Model:</label>
  			<input type="text" id="model">
  		</div>
   		<div style="clear:both">
  			<label>RegistrationNr:</label>
  			<input type="text" id="registration_nr">
  		</div>
   		<div style="clear:both">
  			<label>Capacity:</label>
  			<input type="text" id="capacity">
  		</div>
   		<div style="clear:both">
  			<label>Mileage:</label>
  			<input type="text" id="mileage">
  		</div>
   		<div style="clear:both">
  			<label>Accessories:</label>
  			<input type="text" id="accessories">
  		</div>
   		<div style="clear:both">
  			<label>Color:</label>
  			<input type="text" id="color">
  		</div>
  		
  		<button id="btn-new-order">Submit</button>
	</form>
	
{% block javascripts %}
    {% javascripts 'bundles/framework/scripts/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>