<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wypozyczalnia</title>
</head>
<body>
	<div id="error"></div>
	<form id="form-new-user">
  		<div style="clear:both">
  			<label>First name:</label>
  			<input type="text" id="firstname">
  		</div>
  		<div style="clear:both">
  			<label>Last name:</label>
  			<input type="text" id="lastname">
  		</div>
  		<div style="clear:both">
  			<label>Email:</label>
  			<input type="text" id="email">
  		</div>
  		<button id="btn-new-user">Submit</button>
	</form>
	
{% block javascripts %}
    {% javascripts 'bundles/framework/scripts/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>