<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wypozyczalnia</title>
</head>
<body>
	<table border = 1px solid black> 
		<tr>
			<th>Id</th>
		    <th>Firstname</th>
		    <th>Lastname</th>
		    <th>Email</th> 
		</tr>
	 	{% for user in data.users %}
	 	<tr>
	    	<td>{{ user.id }}</td>
	    	<td>{{ user.firstname }}</td>
	    	<td>{{ user.lastname }}</td>
	    	<td>{{ user.email }}</td>
	  	</tr>
	  	{% endfor %}
	</table>
	
	<a href="{{ url('users_new') }}">add_new</a> 
	
{% block javascripts %}
    {% javascripts 'bundles/framework/scripts/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
