<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wypozyczalnia</title>
</head>
<body>
	<div id="error"></div>
	<form id="form-user-profile">
  		<button id="btn-user-profile">Edit profile</button>
	</form>
	
{% block javascripts %}
    {% javascripts 'bundles/framework/scripts/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>